dark-mode-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dark-mode-button:hover {
  color: white;
}

body {
  transition: all 0.3s ease;
}

.dark-mode {
  background-color: #706e6e;
  color: white;
}

.dark-mode .card {
  background-color: #706e6e;
  color: white;
}

.dark-mode .card-header {
  background-color: #706e6e;
  border-color: white;
}

.dark-mode .badge {
  color: white;
  background-color: #444;
}

.dark-mode .list-group-item {
  background-color: #9e9c9c;
  color: rgb(255, 255, 255);
}

.dark-mode .list-group-item.active {
  background-color: #9e9c9c;
  color: rgb(255, 255, 255);
}

.dark-mode .form-control {
  background-color: #9e9c9c;
  color: white;
}

.dark-mode .form-control:focus {
  background-color: #9e9c9c;
  color: white;
  border-color: white;
}

.dark-mode .dark-mode-button {
  background-color: #9e9c9c;
  color: rgb(255, 255, 255);
}
